@tailwind base;
@tailwind components;
@tailwind utilities;

/* Modo claro por defecto */
:root {
  --background: #f9fafb; /* Gris muy claro */
  --foreground: #111827; /* Gris muy oscuro casi negro */
}

/* Modo oscuro con prefers-color-scheme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827; /* Gris muy oscuro */
    --foreground: #f9fafb; /* Gris muy claro */
  }
}

/* Estilos globales */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
